<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.commands">
		<command
			locationURI="popup:org.eclipse.jdt.ui.PackageExplorer"
			id="api.migration.commands.MigrationCommand"
			name="Context">
		</command>
	</extension>


	<extension point="org.eclipse.ui.handlers">		
		<handler
			commandId="api.migration.commands.MigrationCommand"
            class="api.migration.handlers.MigrationHandler">
		</handler>
	</extension>
   
   
	<extension point="org.eclipse.ui.menus">		
		<menuContribution
			locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
            <command	
				commandId="api.migration.commands.MigrationCommand"
				label="API Migration">
            </command>
		</menuContribution>
		
		<menuContribution
			locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
            <command	
				commandId="api.migration.commands.MigrationCommand"
				label="API Migration">
            </command>
		</menuContribution>
	</extension>
	
</plugin>
